In [2]:
import math #importing math
import numpy as np #importing numpy library
import pandas as pd #importing pandas library
import requests as rq #dealing with http requests
import re #importing the regular expression package
import datetime as dt #importing dates and times
import sklearn.neighbors as nei
import sklearn.model_selection as mod
import seaborn as sns

In [3]:
df= pd.read_excel("http://www2.cao.ie/points/CAOPointsCharts2020.xlsx", skiprows =10) #creating the data frame

print(df.head(3))

  CATEGORY (i.e.ISCED description)  \
0      Business and administration
1    Humanities (except languages)
2                             Arts

                                       COURSE TITLE COURSE CODE2 R1 POINTS  \
0                            International Business        AC120       209
1                                      Liberal Arts        AC137       252
2  First Year Art & Design (Common Entry,portfolio)        AD101  #+matric

  R1 Random * R2 POINTS R2 Random*       EOS EOS Random * EOS Mid-point  ...  \
0         NaN       NaN        NaN       209          NaN           280  ...
1         NaN       NaN        NaN       252          NaN           270  ...
2         NaN       NaN        NaN  #+matric          NaN      #+matric  ...

   avp    v Column1 Column2 Column3  Column4  Column5  Column6  Column7  \
0  NaN  NaN     NaN     NaN     NaN      NaN      NaN      NaN      NaN
1  NaN  NaN     NaN     NaN     NaN      NaN      NaN      NaN      NaN
2  NaN  NaN     NaN     NaN     NaN      NaN      NaN      NaN      NaN

   Column8
0      NaN
1      NaN
2      NaN

[3 rows x 23 columns]

In [4]:
df

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.describe()

,LEVEL,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
count,1464.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,7.639344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.595939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(df.dtypes)

CATEGORY (i.e.ISCED description)     object
COURSE TITLE                         object
COURSE CODE2                         object
R1 POINTS                            object
R1 Random *                          object
R2 POINTS                            object
R2 Random*                           object
EOS                                  object
EOS Random *                         object
EOS Mid-point                        object
LEVEL                                 int64
HEI                                  object
Test/Interview #                     object
avp                                  object
v                                    object
Column1                             float64
Column2                             float64
Column3                             float64
Column4                             float64
Column5                             float64
Column6                             float64
Column7                             float64
Column8                             float64
dtype: object

In [7]:
df.iloc[73]

CATEGORY (i.e.ISCED description)                                            Education
COURSE TITLE                        Education, Home Economics and Biology - with c...
COURSE CODE2                                                                    AS001
R1 POINTS                                                                         510
R1 Random *                                                                       NaN
R2 POINTS                                                                         NaN
R2 Random*                                                                        NaN
EOS                                                                               518
EOS Random *                                                                      NaN
EOS Mid-point                                                                     544
LEVEL                                                                               8
HEI                                                              St. Angela`s College
Test/Interview #                                                                  NaN
avp                                                                               NaN
v                                                                                 NaN
Column1                                                                           NaN
Column2                                                                           NaN
Column3                                                                           NaN
Column4                                                                           NaN
Column5                                                                           NaN
Column6                                                                           NaN
Column7                                                                           NaN
Column8                                                                           NaN
Name: 73, dtype: object

In [8]:
#sns.pairplot(df) #pairplot

In [9]:
#creating k neighbour

inputs = df[['a','b','c','d']]
outputs = df['x']

knn = nei.KNeighborsClassifier(n_neighbors =5) #classifier function, five closest neighbours

knn.fit(inputs, outputs) #visualise


knn.predict([[a]]) #predict


knn.predict(inputs) == outputs #checks if inputs equals outputs


(knn.predict(inputs) == outputs).sum() #sums up the trues

KeyError: "None of [Index(['a', 'b', 'c', 'd'], dtype='object')] are in the [columns]"

In [ ]:
mod.train_test_split(inputs, outputs, test_size = 0.33) #training model of 33% of the whole data set. 
inputs_train, inputs_test, outputs_train, outputs_test =mod.train_test_split(inputs, outputs, test_size = 0.33) 
inputs_train #look at this df

<br>

# Test on reading in 2021 Cao file

****

In [10]:
import math #importing math
import numpy as np #importing numpy library
import pandas as pd #importing pandas library
import requests as rq #dealing with http requests
import re #importing the regular expression package
import datetime as dt #importing dates and times
import sklearn.neighbors as nei #predictive library (K-neighbour)
import seaborn as sns 
import urllib.request as urlrq #helping to import data

In [ ]:
urlrq.urlretrieve("http://www2.cao.ie/points/CAOPointsCharts2021.xlsx")

In [ ]:
df2021test= pd.read_excel("http://www2.cao.ie/points/CAOPointsCharts2021.xlsx", skiprows =11) #creating the data frame

print(df2021test.head(3))

In [ ]:
df2021test

In [ ]:
df2021test = df2021test.drop(df2021test.columns[[0,4,6,7,8,12,13,14]], axis=1) #removing columns

In [ ]:
df2021test2

In [ ]:
df2020test= pd.read_excel("http://www2.cao.ie/points/CAOPointsCharts2020.xlsx", skiprows =10)

In [ ]:
df2020test

In [ ]:
df2020test = df2020test.drop(df2020test.columns[[0,4,6,7,8,12,13,14,15,16,17,18,19,20,21,22]], axis=1)

In [ ]:
df2020test

In [ ]:
ne = (df2021 != df2020).any(1) # to see if any similaries

In [ ]:
df2019.compare(df2020, align_axis=0) #to compare dataframes but an error arrived as all df need to be the same size

In [ ]:
df2019.where(df2019.values==df2020.values).notna() #also this didnt work

In [ ]:
allcourses.corr()

In [ ]:
allcourses['New']= allcourses.apply(lambda x: x['R1 Points 2021'] if x['R1 Points 2021'] <=
                     x['R1 Points 2020'] and x['R1 Points 2021']
                     <= x['R1 Points 2019'] else np.nan, axis=1)