In [1]:
import numpy as np #importing numpy package

import matplotlib.pyplot as plt  #importing the matplotlib package

import pandas as pd #calling in the pandas library

In [2]:
df= pd.read_csv(r"C:\Users\35385\Desktop\HR Data2.csv") #creating the data frame

print(df.head())

        Case # Link        Case Owner  Group Case Status           Channel  \
0  2021-03-00025759  Aisling Cahalane    NaN      closed   Webform General
1  2021-02-00014420      Kennan Fahey    NaN      closed   Webform General
2  2021-02-00017027   Elaine O'Connor    NaN      closed         Telephone
3  2021-01-00011134      Yew Mun WONG    NaN      closed           Workday
4  2021-03-00032770    Ciara McGregor    NaN      closed  Personal Contact

           Category                                       Sub Category  \
0  Learning Request  Learning Plan Changes (assignments, due dates,...
1    HR Information                                  Forms Information
2    HR Information                         HR Policies and Procedures
3      Compensation                         Annual Compensation Review
4    HRS Operations                                           Training

   Created Date  Closed Date  Duration of Case        Submitter  \
0   44257.37250  44258.41385                 1  Annabel Barrett
1   44229.37658  44229.49774                 0  Stacey Spinelli
2   44235.62417  44235.62447                 0        Anonymous
3   44225.66850  44235.03787                 5        Anonymous
4   44272.41129  44272.41181                 0   Ciara McGregor

          Submitter Country                     Priority                 Tier  \
0            United Kingdom  Priority 4: 5 Business Days  Learning Operations
1  United States of America  Priority 4: 5 Business Days               Tier 1
2  United States of America  Priority 4: 5 Business Days               Tier 1
3                     China  Priority 4: 5 Business Days   Tier 2 Global Data
4                   Ireland  Priority 4: 5 Business Days                  NaN

  Owner Team
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [3]:
df.describe()

       Group   Created Date    Closed Date  Duration of Case
count    0.0  138730.000000  137013.000000     138730.000000
mean     NaN   44362.047044   44364.967474          3.543286
std      NaN      97.011095      96.321665         14.390020
min      NaN   44197.292290   44199.820670          0.000000
25%      NaN   44277.898255   44280.424550          0.000000
50%      NaN   44358.337090   44362.462360          1.000000
75%      NaN   44447.168448   44448.276850          3.000000
max      NaN   44530.995800   44533.192750        237.000000

In [4]:
print(df.dtypes)

Case # Link           object
Case Owner            object
Group                float64
Case Status           object
Channel               object
Category              object
Sub Category          object
Created Date         float64
Closed Date          float64
Duration of Case       int64
Submitter             object
Submitter Country     object
Priority              object
Tier                  object
Owner Team            object
dtype: object

In [7]:
print(df['Case # Link'].value_counts())

2021-02-00014265    1
2021-11-00133438    1
2021-04-00044284    1
2021-07-00078696    1
2021-10-00122490    1
                   ..
2021-10-00124483    1
2021-05-00052310    1
2021-04-00039274    1
2021-11-00131235    1
2021-02-00021294    1
Name: Case # Link, Length: 138730, dtype: int64